# Delitos en mexico hasta abril del 2024

En el siguiente proyecto se realiza la conexion a una base de datos con los datos de https://www.gob.mx/sesnsp/acciones-y-programas/datos-abiertos-de-incidencia-delictiva de la seccion Reportes de incidencia delictiva al mes de abril 2024 (Nueva metodología).

In [1]:
import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
from tabulate import tabulate

Se realiza la conexion a la base de datos local

In [2]:
def connect_to_db():
    return mysql.connector.connect(
        host="localhost",
        user="root",
        password="Steven77*",
        database="crimenes"
    )

Metodo para ejecutar querys, consultas a la base de datos

In [3]:
def fetch_data(query): # funcion ejecuta querys
    connection = connect_to_db()
    cursor = connection.cursor()
    cursor.execute(query)
    data = cursor.fetchall()
    columns = [col[0] for col in cursor.description]
    df = pd.DataFrame(data, columns=columns)
    cursor.close()
    connection.close()
    return df

In [4]:
query = "SELECT * FROM crimenes.indicecriminal where Entidad='sonora'"
data_df = fetch_data(query)
data_df
# comprobamos que se realize correctamente la consulta, en donde podemos revisar los delitos rgistrados en sonora del año 2015 hasta el 2023

,Año,Clave_Ent,Entidad,Bien jurídico afectado,Tipo de delito,Subtipo de delito,Modalidad,Enero,Febrero,Marzo,Abril,Mayo,Junio,Julio,Agosto,Septiembre,Octubre,Noviembre,Diciembre
0,2015,26,Sonora,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma de fuego,23,19,34,16,30,38,34,50,22,36,20,19
1,2015,26,Sonora,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con arma blanca,4,7,3,10,3,6,13,9,15,12,11,1
2,2015,26,Sonora,La vida y la Integridad corporal,Homicidio,Homicidio doloso,Con otro elemento,9,17,15,6,24,18,20,10,11,8,10,6
3,2015,26,Sonora,La vida y la Integridad corporal,Homicidio,Homicidio doloso,No especificado,0,0,0,0,0,0,0,0,0,0,0,0
4,2015,26,Sonora,La vida y la Integridad corporal,Homicidio,Homicidio culposo,Con arma de fuego,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877,2023,26,Sonora,Otros bienes jurídicos afectados (del fuero co...,Falsificación,Falsificación,Falsificación,3,1,2,4,3,5,6,9,6,2,5,4
878,2023,26,Sonora,Otros bienes jurídicos afectados (del fuero co...,Contra el medio ambiente,Contra el medio ambiente,Contra el medio ambiente,0,0,0,0,0,0,0,1,1,0,0,0
879,2023,26,Sonora,Otros bienes jurídicos afectados (del fuero co...,Delitos cometidos por servidores públicos,Delitos cometidos por servidores públicos,Delitos cometidos por servidores públicos,8,10,16,6,7,12,6,2,5,6,3,2
880,2023,26,Sonora,Otros bienes jurídicos afectados (del fuero co...,Electorales,Electorales,Electorales,0,0,0,0,0,0,0,0,0,0,0,0
881,2023,26,Sonora,Otros bienes jurídicos afectados (del fuero co...,Otros delitos del Fuero Común,Otros delitos del Fuero Común,Otros delitos del Fuero Común,163,221,211,185,178,217,197,256,206,199,182,144

In [27]:
data_df.info() # sacar la informacion de la tabla para saber que contiene y las consultas que realizaremos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     882 non-null    int64
 1   Clave_Ent               882 non-null    int64
 2   Entidad                 882 non-null    object
 3   Bien jurídico afectado  882 non-null    object
 4   Tipo de delito          882 non-null    object
 5   Subtipo de delito       882 non-null    object
 6   Modalidad               882 non-null    object
 7   Enero                   882 non-null    int64
 8   Febrero                 882 non-null    int64
 9   Marzo                   882 non-null    int64
 10  Abril                   882 non-null    int64
 11  Mayo                    882 non-null    int64
 12  Junio                   882 non-null    int64
 13  Julio                   882 non-null    int64
 14  Agosto                  882 non-null    int64
 15  Septiembre              882 non-null    int64
 16  Octubre                 882 non-null    int64
 17  Noviembre               882 non-null    int64
 18  Diciembre               882 non-null    int64
dtypes: int64(14), object(5)
memory usage: 131.0+ KB

en la siguiente tabla sumaremos todos los meses, le colocaremos el titulo a la suma "total delitos" y los agruparemos por entidad , al final los ordenamos por entidad para determinar cuales son los estados con mas delitos del 2015 al 2024. determinamos que el estado de mexico es el estado con mas delitos

In [11]:
query2 ="SELECT Entidad, SUM(Enero + Febrero + Marzo + Abril + Mayo + Junio + Julio + Agosto + Septiembre + Octubre + Noviembre + Diciembre)  AS Total_Delitos FROM crimenes.indicecriminal GROUP BY  Entidad order by Total_Delitos desc"
delitos_por_entidad = fetch_data(query2)
delitos_por_entidad

                            Entidad Total_Delitos
0                            México       3204022
1                  Ciudad de México       1926381
2                           Jalisco       1233433
3                        Guanajuato       1137458
4                   Baja California        968873
5                        Nuevo León        774103
6   Veracruz de Ignacio de la Llave        645049
7                         Chihuahua        615768
8                            Puebla        600066
9              Coahuila de Zaragoza        492254
10                        Querétaro        475400
11                          Tabasco        475281
12                          Hidalgo        403730
13                          Morelos        400930
14                  San Luis Potosí        389401
15              Michoacán de Ocampo        383277
16                       Tamaulipas        374430
17                     Quintana Roo        352039
18                           Oaxaca        321637
19                   Aguascalientes        308909
20                           Sonora        273713
21                         Guerrero        264003
22                          Durango        262505
23                          Sinaloa        233065
24                           Colima        205793
25                        Zacatecas        197255
26              Baja California Sur        196543
27                          Chiapas        186853
28                          Yucatán        148413
29                         Campeche         69647
30                          Nayarit         53480
31                         Tlaxcala         49801

In [16]:
cambiarNombre = "ALTER TABLE crimenes.indicecriminal CHANGE COLUMN Tipo de delito tipo_de_delito VARCHAR(255);"

cambiarColumna = fetch_data(cambiarNombre)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'delito tipo_de_delito VARCHAR(255)' at line 1